body{
    color: #FFFFFF;
    background-color: #000000;
    font-family: inherit ;
    padding-left: 15px;
}

md-content.md-default-theme, md-content{
        color: #FFFFFF;
    background-color: #000000;
    font-family: inherit ;
    padding-left: 15px;
}
h1{
    font-weight: 200 !important;
    font-size: 5em;
    margin: 0px;
    padding: 5px;
}

h2{
    font-weight: 200 !important;
    font-size: 3em;
    margin: 0px;
    padding: 5px;
}

h3{
    font-weight: 200 !important;
    font-size: 2em;
    margin: 0px;
    padding: 5px;
}

.time-to-work{
    font-weight: 200 !important;
    font-size: 4em;
    margin: 0px;
    padding: 10px;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
}
.meteo{
    display: inline-block;
    margin: 15px;
}

.weather-item{
    padding: 0px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.view{
    color: #FFFFFF;
    background-color: #000000;
    font-family: inherit ;
    padding-left: 15px;
}

.view .p{
    margin 0px !important;
    padding: 5px;
}
.row{
    margin 0px !important;
}

.meteo-div{
    text-align: right;
}

.view .row{
    margin-left: 0px;
    margin-right: 0px;
}


.informations-tabs{
    height: 100%;
}

.information-tabs md-tabs.md-dynamic-height md-tabs-content-wrapper{
    height:100%;
}


canvas{
  pointer-events: none;
  z-index: 9999;
  width: 70% !important;
  height: 40% !important;
  top:60% !important;
  left: 15% !important;
  position: fixed;
}